

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.hover-light{
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}

.hover-light:hover {
  color: lightcyan;
}

.hover-light:active {
  border-radius: 50%;
  background: #6b6b6b;
}

.sidebar-item:hover {
  background: rgba(256,256,256,0.1);
}

.item-clicked {
  background: #676767;
}

.message-side{
  background: rgb(51, 51, 54);
}

.modal-prop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
  background: rgba(45, 45, 45, 0.74);
  color: black;
}


.search-result {
  position: absolute;
  background: #EEEEEE;
  width: 100%;
  color: black;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  z-index: 101;
  margin-top: 1px;
}

.search-item:hover {
  background: darkgray;
}

.search-background {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 10000px;
  height: 10000px;
}